@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron&display=swap');
@media (max-width: 600px) {

    @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron&display=swap');

    .landing-page-container {
      color: #fff;
      font-weight: 380;
      font-size: 5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Orbitron', sans-serif;
      font-style: normal;
      width: auto;
      box-sizing: border-box;
      letter-spacing: 4px;
      margin: 0;
      padding: 0;
      line-height: 1.2;
      min-height: 50%;
    }
    
    span {
        display: inline-block;
    }
    
    .landing-page-container .crypto-animation {
      color: rgb(255, 123, 0);
      margin-bottom: 12px;
    } 
    
    .backgroundImage {
        background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/016/067/original/abstract-colorful-liquid-background-free-video.jpg');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    
    .nameHeader {
        color:rgb(255, 123, 0);
        text-align: center;
    }

}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron&display=swap');

.landing-page-container {
  color: #fff;
  font-weight: 380;
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
  font-style: normal;
  width: auto;
  box-sizing: border-box;
  letter-spacing: 4px;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

span {
    display: inline-block;
}

.landing-page-container .crypto-animation {
  color: rgb(255, 123, 0);
  margin-bottom: 12px;
} 

.backgroundImage {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/016/067/original/abstract-colorful-liquid-background-free-video.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.nameHeader {
    color:rgb(255, 123, 0);
    text-align: center;
}

.crypto-animation {
    color:rgb(255, 123, 0);
    font-size: 5vw;
}

.headliner {
    position: relative;
    top: 250px;
}