@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;800&display=swap');
body {
    font-family: 'Unbounded', cursive;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/016/067/original/abstract-colorful-liquid-background-free-video.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

span {
    display: inline-block;
}

.landing-page-container .crypto-animation {
    color:rgb(253, 160, 53);
    margin-bottom: 12px;
    font-size: 3vw;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: block;
}

.headliner {
    position: relative;
    top: 300px;
    color:rgb(253, 160, 53);
    text-align: center;
    min-height: 55%;
    font-size: 51px;
}

.homeLinks {
    color:rgb(253, 160, 53);
    min-height: 50%;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Luckiest Guy', sans-serif;

}

.homeLinks:hover {
    color:rgb(251, 255, 0);
    text-decoration: underline;
}

.mainPageTitle {
    font-size: 60px;
}

.bold {
    font-weight: bold;
}

.spacer {
    margin-right: 10px;
  }

.projectImages {
    max-width: 100%;
    width: auto;
    height: auto;
  }

.projectDesc {
    color:rgb(253, 160, 53);
    font-size: 20px;
}

.projectTitle {
    color:rgb(253, 160, 53);
    font-weight: bolder;
}

.projectContainer {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 175px; 
    margin: 0 auto;
    }
  
.projectDiv {
    text-align: center;
    width: 45%;
    margin: 20px;
    display: inline-block;
}

.homePageHeadliner{
    color:rgb(253, 160, 53);
    text-align: center;
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 30px;
}
