@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@media (max-width: 600px) {

    @import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;800&display=swap');

    .landing-page-container {
      color: #fff;
      font-weight: 380;
      font-size: 5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Anton', sans-serif;
      font-style: normal;
      width: auto;
      box-sizing: border-box;
      letter-spacing: 3px;
      margin: 0;
      padding: 0;
      line-height: 1.2;
    }
    
    span {
        display: inline-block;
    }
    
    .landing-page-container .crypto-animation {
      color: rgb(255, 119, 0);
      margin-bottom: 12px;
    } 
    
    .backgroundImage {
        background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/016/067/original/abstract-colorful-liquid-background-free-video.jpg');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    
    .nameHeader {
        color:rgb(255, 123, 0);
        text-align: center;
    }

}
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;800&display=swap');
body {
    font-family: 'Unbounded', cursive;
}

span {
    display: inline-block;
}

.landing-page-container .crypto-animation {
    color:rgb(253, 160, 53);
    margin-bottom: 12px;
    font-size: 3vw;
    text-align: center;
} 

.backgroundImage {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/016/067/original/abstract-colorful-liquid-background-free-video.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.headliner {
    position: relative;
    top: 300px;
    color:rgb(253, 160, 53);
    text-align: center;
    min-height: 50%;
}

.homeLinks {
    color:rgb(253, 160, 53);
    min-height: 50%;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Luckiest Guy', sans-serif;
    min-height: 50%;
}

.homeLinks:hover {
    color:rgb(251, 255, 0);
    text-decoration: underline;
}

.mainPageTitle {
    font-size: 60px;
}

.bold {
    font-weight: bold;
}

.spacer {
    margin-right: 10px;
  }
